@import url('https://fonts.cdnfonts.com/css/cocogoose');  
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
  
  *{
    font-family: 'COCOGOOSE', sans-serif;
    margin: 0;
    padding: 0;
  }

  body{
    max-width: 100vw;
    background-color: rgb(255, 208, 0);
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .max-height{
    position: relative;
    max-height: 900px;
  }

  .max-width{
    box-shadow: rgba(0, 0, 0, 0.438) 0px 0px 20px;
    background-color: rgb(255, 208, 0);
    position: relative;
    flex-direction: column;
    align-items: center;
    display: flex;
    max-width: 1600px;
    height: 100vh;
  }

  .circle-1{
    top: 100px;
    right: 0px;
    position: absolute;
  }

  .circle-2{
    z-index: 2;
    width: 200px;
    left: 0;
    bottom: 0;
    position: absolute;
    transform: rotate(180deg);
  }

  .tsk-1, .tsk-2{
    color: white;
  }

  .tsk-1{
    line-height: 30px;
    font-size: 2.07rem;
  }

  .tsk-2{
    font-size: 1.3rem;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
  }

  .bold{
    color: black;
    font-family: 'Inter', sans-serif; 
    font-weight: 900;
  }

  .task{
    gap: 20px;
    margin-top: 70px;
    width: 550px;
    display: flex;
    flex-direction: column;
  }

  header svg{
    fill: white;
  }

  .main-header{
    justify-content: center;
    width: 50%;
    display: flex;
    align-items: center;
  }

  .trip-calc{
    margin-left: 10px;
  }

  .calculator{
    color: white;
    font-family: 'Inter', sans-serif;
  }

  .trip{
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
  }

  header{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 60px;
    background-color:black;
    width: 100vw;
    border: px white;
  }
  
  main{
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
  }

  .box{
    position: relative;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .form{
    position: relative;
  }

  #email, #dollar{
    font-family: 'Inter', sans-serif;
    font-weight: 900;
  }

  .email{
    font-size: 0.8rem;
    left: 10px;
    background-color: white;
    top: -8px;
    border-left: 2px solid white;
    border-right: 2px solid white;
    z-index: 1;
    position: absolute;
  }

  .btt{
    display: flex;
    gap: 20px;
  }

  input{
    border: 2px solid black;
    border-radius: 5px;
    width: 400px;
    height: 45px;
    padding-left: 20px;
  }

  .text{
    margin-left: 10px;
    margin-bottom: 30px;
    width: 400px;
  }

  .bottom{
    margin-left: 10px;
    width: 400px;
    flex-direction: column;
    display: flex;
    margin-top: 40px;
    gap: 10px;
  }

  #dollar{
    margin-top: 20px;
    width: 70px;
  }

.money-box{
  margin-top: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.alert-digite-mail, .alert-digite-money, .alert-digite-arroba{
    display: none;
    color: red;
    font-size: 0.7rem;
}

  .money{
    border-left: 2px solid white;
    border-right: 2px solid white;
    position: absolute;
    font-size: 0.8rem;
    left: 10px;
    top: 14px;
    background-color: white;
  }

  .main{
    min-height: 300px;
    background-color: white;
    box-shadow: black 15px 15px;
    border-radius: 20px;
    justify-content: center;
    width: 550px;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  #valor-final, .email-final{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
  }

  .reboot{
    cursor: pointer;
    border: none;
    border-radius: 20px;
    margin-top: 50px;
    width: 150px;
    height: 50px;
    transition: 0.3s;
    display: none;
    justify-content: center;
    align-items: center;
  }

  .reboot:hover{
    transform: scale(0.9);
    box-shadow: rgba(0, 0, 0, 0.185) 7px 7px 7px;
  }

  .dollar-img{
    filter: drop-shadow(rgba(0, 0, 0, 0.192) -7px 17px 9px);
    width: 120px;
    position: absolute;
    left: 380px;
    top: 230px;
    animation: sobedesce infinite alternate-reverse 5s;
  }

  a{
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  @keyframes sobedesce{
    0%{
      transform: translateY(5px);
    } 50%{
      transform: translateY(25px);
    } 100%{
      transform: translateY(10px);
    }
  }

  .main-2{
    min-height: 300px;
    background-color: white;
    box-shadow: black 15px 15px;
    border-radius: 20px;
    justify-content: center;
    width: 550px;
    border: 3px solid black;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    display: none;
  }

  .last-value{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .add-email, .add-us{
    display: flex;
    flex-direction: column;
  }


.send{
  cursor: pointer;
  transition: 0.3s;
  width: 80px;
  background-color: rgb(255, 208, 0);
  border: none;
  border-radius: 3px;
}

.send:hover {
  transform: scale(0.9);
  filter: drop-shadow(rgba(0, 0, 0, 0.253) -3px 3px 3px);
}

.rst{
  cursor: pointer;
  border-radius: 3px;
  background-color: #ffffff;
  border: 2px solid transparent;
  padding: 7px 20px;
  width: 80px;
  transition: 0.3s;
}

.rst:hover {
  border: 2px solid rgba(0, 0, 0, 0.171);
  transform: scale(0.9);
}

.open-to-pc{
  display: none;
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

@media(max-width: 1400px){
  .dollar-img{
    left: 300px;
    z-index: 2;
    
  }

  .task{
    margin-top: 10px;
  }
}

@media(max-width: 1200px){
  .dollar-img{
    left: 240px;
  }
}

@media(max-width: 1000px){
  .max-height{
    display: none;
  }

  .open-to-pc{
    display: flex;
  }
}